<div id="tabla">
    <table id="tableData" class="display" style="width:100%">
        <thead>
			<tr>
				<th scope="col">Descripción</th>
				<th scope="col">Familias</th>
				<th scope="col">Linea</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


