<div id="tabla">
    <table id="dataTable" class="display" style="width:100%">
        <thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nombre</th>
				<th scope="col">Articulo</th>
				<th scope="col">Familia</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


